*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.app {
    overflow: hidden;
}
body {
    background: url('../img/BackgroundDecor.png') top center/cover no-repeat;
    background-attachment: fixed;
}
.header {
    max-height: 90px;
    background-color: var(--white-color);
}
.header__navbar-list{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 20px 0;
}
.header__navbar-item {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -32px;
}
.header__navbar-item:nth-child(3){
    margin-right: 0px;
}
.header__navbar-item-link{
    position: relative;
    font-size: 1.4rem;
}
.header__navbar-item-link >a{
    padding: 10px 15px;
    text-decoration: none;
    color: var(--black-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}
.no-padding >a{
    padding-right: 0;
}
.header__navbar-item-link >a:hover{
    opacity: 0.8;
    transform: translateY(-1px);
}
.color-border-header{
    color: #ffdfdd;
    background-color: #ff2600;
}
.header__navbar-icon{
    margin: 0 12px;
    cursor: pointer;
   
}
.header__navbar-icon:hover{
    opacity: 0.7;
}
.header__navbar-item-link.active a{
    color: var(--primary-color);
}
.btn-color-nav {
    background-color: var(--white-color);
    color: var(--primary-color);
} 
.style-height-nav {
    padding: 10px 15px;
} 
.btn-nav {
    border: 1px solid var(--primary-color);
}
.header .btn-active {
    margin-left: 8px;
    background-color: var(--primary-color);
    color: var(--white-color);
}

.menu-icon {
    display: none;
}
/* slider */
.slider {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 50px;
}
.slider-img img {
    max-width: 531px;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 17px;
    right: 9%;
    z-index: 2;
}
.slider-img-feedback img {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 38px;
}
.slider__paragraph{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.slider__img{
    max-width: 100%;
    max-width: 100%;
    opacity: 0.5;
    height: auto;
     
}
.slider__paragraph-header {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: var(--text-color);
    margin-bottom: 21px;
}
.slider__paragraph-header span {
    color: var(--primary-color);
}
.slider__paragraph-heading{
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    color: var(--primary-color);
}
.slider__paragraph-title {
    width: 53%;
    font-weight: 500;
    font-size: 18px;
    line-height: 33px;
    margin-bottom: 50px;
}
.slider__paragraph-title p {
    font-weight: 600;
    font-size: 20px;
}
.slider__paragraph-nexts img {
    object-fit: contain;
}
.slider__paragraph-next {
    width: 53%;
    font-weight: 500;
    font-size: 18px; 
    line-height: 20px;
    color: var(--primary-color); 
    margin-bottom: 75px;  
}
.style-height-slider{
    height: 50px;
}
.btn-slider {
    border-color: var(--primary-color);
    border-style: solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.btn-color-slider{
    color: var(--white-color);
    background-color: var(--primary-color);
}
.border-icon{
    background-color: var(--white-color);
    color: var(--primary-color);
    padding: 8px;
    border-radius: 50%;
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px;
}
.slider__paragraph-nexts {
    display: flex;
    padding: 10px 0;
}
.slider__paragraph-nexts span {
    margin-left: 14px;
}
.slider__paragraph-input {
    display: flex;
}

.input-email {
    font-weight: 450;
    font-size: 18px;
    line-height: 23px;
    color: #76797E;
    padding: 10px;
    border-radius: 5px;
    border-color: #C9CDD5;
    border-style: solid;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.input-email:hover {
    border-color: var(--primary-color);
    border-style: solid;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* container */
.content{
    margin-top: 103px;
}
.content__1 {
    display: flex;
    justify-content: space-between;
}
/* 1 */
#container1 {
    position: relative;
}
.content__text-title1 .content__img1{
    content: "";
    position: absolute;
    right: 60px;
    max-width: 327px;
}
.home-icon-item {
    display: block;
    position: relative;
    margin-top: 10px;
    text-decoration: none;
    transition: transform ease-in 0.1s;
    will-change: transform;
    text-align: center;
    width: 135px;
}

.home-icon-item:hover {
    transform: translateY(-2px);
}

.home-icon-item__img img {
    max-width: 80px;
    max-height: 80px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    
}

.home-icon-item__name {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-color);
    margin-top: 24px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
/* 2 */
#container2 .margin-right img {
    width: 105%;
    height: auto;
}
.content__icon-text {
    display: flex;
    align-items: center;
}
.content__header {
    text-align: center;
}
.content__header h3{
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
    color: var(--primary-color);
}
.content__border {
    height: auto;
    background-color: #FEFEFE; 
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.07);
}
.content-padding {
    padding: 40px;
}
#container2 .margin-left h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: var(--primary-color);
}
#container2 .margin-left span {
    position: relative;
    font-weight: 450;
    font-size: 18px;
    line-height: 40px;
    color: var(--button-content);
} 
#container2 .margin-left span::before {
    content: "";
    position: absolute;
    left: 0;
    top: 30px;
    border-top: 2px solid var(--primary-color);
    width: 80px;
}
#container2 .margin-left .content__header-1 h5 {
    margin-top: 10px;
    font-weight: 450;
    font-size: 18px;
    line-height: 40px;
    color: var(--text-color);
}
#container2 .margin-left .content__icon-text p {
    font-weight: 450;
    font-size: 18px;
    line-height: 40px;
    color: var(--text-color);
    margin-left: 14px;
}
.content__header1-icon {
    max-width: 13px;
    height: 16px;
}
.btn-color-content {
    background-color: var(--button-content);
    color: var(--white-color);
}
.style-height-content {
    width: 100%;
} 
.btn-content {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    margin-top: 16px;
    border-radius: 3px;
}
.btn-text {
    display: flex;
}
/* 3 */
#container4  .margin-right .img-content,
#container3 .img-content {
   max-width: 158px;
   max-height: 73px;
}
#container4 h4,
#container3 h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: var(--primary-color);
}
#container4 .content__icon-text,
#container3 .content__icon-text {
    padding: 8px 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #76797E;
}
#container4 .content__icon-text strong,
#container3 .content__icon-text strong {
    margin-left: 14px;
}
#container4 .content__icon-texts,
#container3 .content__icon-texts {
    display: flex;
    align-items: center;
    margin-top: 9px;
    margin-bottom: 21px;
}
/* 4 */
#container4 .content__icon-texts p,
#container3 .content__icon-texts p {
    font-weight: 450;
    font-size: 16px;
    line-height: 20px;
    color: var(--orange-color);
    padding: 0 11px 0 28px;
    
}
#container4 .margin-left,
#container3 .margin-left {
    position: relative;
}
.img-content-nga {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
#container4 .margin-left .img-content {
    margin-top: 30%;
    width: 100%;
}
/* 5 */
#container5  .margin-left,
#container5  .margin-right {
    position: relative;
}
#container5  .margin-right .img-content {
    content: "";
    position: absolute;
    left: 60%;
    top: -30px;
    width: 36px;
}
#container5  .margin-left .img-content {
    content: "";
    position: absolute;
    left: 56%;
    top: -30px;
    width: 36px;
}
.content__text-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    padding-bottom: 30px;
}
.content__text-title p {
    color: var(--text-color);
    margin-right: 2px;
}
.content__text-title h4 {
    color: var(--primary-color);
    line-height: 1.6;
}
#container5 .content__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: var(--text-color);
    padding: 5px 14px;
    margin: 5px 0;
    background-color: var(--white-color);
    box-shadow: 0px 10px 14px rgba(7, 68, 242, 0.07);
    transform: matrix(1, 0, 0, -1, 0, 0);
}
#container5 .content__text h5 {
    transform: matrix(1, 0, 0, -1, 0, 0);
}
#container5 .img-content-nga {
    content: "";
    position: absolute;
    right: 0;
    top: -87px;
    width: auto;
}

.content__text-titles {
    background-color: var(--white-color);
    box-shadow: 0px 10px 14px rgb(7 68 242 / 7%);
    transform: matrix(1, 0, 0, -1, 0, 0);
    padding: 9px 35px 30px 26px;
    order: 1;
}
.content__text-titles1 p{
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    counter-reset: var(--black-color);
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.content__text-titles1:first-child {
    margin-bottom: 30px;
}
/* 6 */
#container1 .content__text-title1,
#container6 .content__text-title6{
    display: flex;
    font-weight: 700;
    font-size: 32px;    
    line-height: 60px;
    color: var(--primary-color);
   justify-content: center;
   align-items: center;
   margin-bottom: 54px;
}
#container6 .content__text-title6 img {
    max-width: 40px;
    max-height: 34px;
    margin-right: 34px;
}
.content__hafl {
    display: flex;
}

.content__text-titles6 {
    display: flex;
    justify-content: space-between;
}
.margin-right .content__text-titles6:first-child ,
.margin-left .content__text-titles6:first-child {
    margin-bottom: 47px;
}
.content__text-titles6 img {
    max-width: 85px;
    max-height: 85px;
    margin-right: 16px;
}
.content__text-titles6-mo {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--text-color);
} 
.content__text-titles6-mo h4 {
    text-transform: uppercase;
    margin-bottom: 5px;
}
#container6 .content {
    margin-bottom: 90px;
}
/* footer */
.footer{
    background-color: var(--primary-color);
    padding: 50px 0;
}
.footer__link{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.footer__link-title1 {
    position: relative;
    padding-bottom: 40px;
}
.footer__link-title2{
    list-style: none;
    padding: 4px 0;
    max-width: 300px;
}
.footer__link-title1:hover,
.footer__link-title2:hover{
    opacity: 0.8;
}

.footer__link-title1 a{
    text-decoration: none;
    font-size: 20px;
    color: var(--white-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}
.footer__link-title2 a{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    color: var(--white-color);
}

.footer__link-column{
    list-style: none;
    padding: 0;
}
.footer__link-column:not(:first-child){
    margin-left: 10px;
}
.footer__link-title2{
    display: flex;
    align-items: center; 
}
.footer__link-column:nth-child(2){
   padding-top: 65px;
}
.footer__link-title1::before {
    content: "";
    position: absolute;
    left: 0;
    top: 40px;
    border-bottom: 1px solid var(--white-color);
    width: 40px;
}
.text-footer {
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    margin-right: 5px;
}
.footer__copy-bottom{
    text-align: center;
    background: #0038D9;
    color: var(--white-color);

}
.footer__copy-bottoms{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 46px;     
}
.footer__copy-text{
    font-weight: 450;
    font-size: 14px;
    line-height: 24px;
}
.footer__img-icon:first-child{
    margin-right: 37px;
    cursor: pointer;
} 

*:focus {
    outline: 0;
    border: none;
}

@media screen and (min-width:1440px){
    .slider__paragraph-input input {
        width: 454px;
    }
    .style-height-input {
        width: 172px;
    }
    .content__text-title1 .content__img1 {
        right: 230px;
    }
    .slider-img img {
        right: 19.5%;
    }
}
@media screen and (min-width:1800px) {
    .content__text-title1 .content__img1 {
        right: 330px;
    }
}
@media (min-width: 767px) and (max-width: 1023px){
    .slider__paragraph {
        margin: 0 25px;
    }
    .slider-img img {
        position: inherit;
        margin-top: 30px;
        margin-left: 50px;
    }
    .slider__paragraph-title, .slider__paragraph-next {
        width: 100%;
    }
    .t-0 {
        display: none;
    }
}
@media screen and (max-width:767px){
    .grid.wide {
        margin: 0 15px;
    }
    .menu-icon {
        display: block;
    }
    .header__navbar-item {
        margin-right: 28px;
    }
    .slider__paragraph-input input {
        width: 252px;
    }
    .style-height-input {
        width: 90px;
    }
    .m-0,
    ul#nav {
        display: none;
    }
    .slider__paragraph-title,
    .slider__paragraph-next {
        width: 100%;
    }
    .slider-img img {
        position: inherit;
        margin-top: 30px;
        margin-left: 50px;
    }
    .content__text-title1 .content__img1 {
        right: -115px;
        top: -169px;
        max-width: 251px;
    }
    .content__1{
        display: block;
    }
    .c-6 {
        max-width: 100%;
    }

    .footer__link,
    .footer__copy-bottoms,
    .content__hafl {
        display: block;
    }
    .footer__copy-icon {
        display: none;
    }
    .footer__copy-text {
        line-height: 46px;
        float: left;
    }
    .footer__link-column:not(:first-child) {
        padding: 0;
        margin: 0;
        margin-top: 20px;
    }
    .content__text-titles6-mo {
        margin-right: 20px;
    }
    #container2 .margin-left,
    #container3 .margin-left,
    #container5 .margin-left,
    #container6 .margin-left {
        margin-left: 0;
        margin-top: 50px;
        margin-right: 25px;
    }
    #container6 .margin-right {
        margin: 0;
        padding: 0;
    }
    #container4 .margin-left .img-content {
        margin-top: 20px;
    }
    .img-content-nga{
        right: 45px;
        top: 0;
    }
    #container5 .img-content-nga {
        content: "";
        position: absolute;
        right: 45px;
        top: -25px;
        width: auto;
    }
    .slider__paragraph {
        margin-right: 25px;
    }
}
@media screen and (max-width:412px) {
    .slider-img img {
        margin-left: 0;
        max-width: 341px;
    }
    #container1 .content__text-title1 {
        padding: 0px 20px;
        text-align: center;
    }
    .l-flex {
        display: block !important;
    }
}